<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>comment_list</h1>
<br>
<br>


<div>

    <form action="/comment/write" method="POST">
        {%csrf_token%}
        <input type="text" name="comment" placeholder="댓글을 입력하세요">
        <input type="submit" value="작성">
    </form>
    <br>
    <br>
    {% if comment_list %}
    {% for var in comment_list %}
    <div class="u_cbox_thumb u_cbox_post">

        <span> {{ var.member_id }} </span>
        <br>
        <span> {{ var.content}}   </span>
        <br>
        <span> {{ var.create_date }}</span>
        <br>
    </div>
    {% endfor %}
    {% endif %}

</div>

</body>


</html>