<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>패스워드 변경</title>
</head>
<body>
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">패스워드 변경하기</h2>
<div class="container">
    <form method="POST">
        {% csrf_token %}



        <input type="hidden" name="username" value="{{username}}">

        <div class="form-floating mb-3">
            <label>새로운 비밀번호 : </label>
            <input name="new_password1" class="form-control"
                   type="password"/>
            <br>
            <span class="helptext">본인소유의 핸든폰 번호를 정확하게 입력하시오.</span>
        </div>

        <div class="form-floating mb-3">
            <label>새로운 비밀번호 확인 : </label>
            <input name="new_password2" class="form-control"
                   type="password"/>
            <br>
            <span class="helptext">본인소유의 핸든폰 번호를 정확하게 입력하시오.</span>
        </div>
        <input class="btn btn-primary" type="submit" value="변경">
    </form>
</div>
</body>
</html>